body,
h1,
fieldset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
